

# services:
#   mongo:
#     image: mongo:7
#     container_name: mongodb
#     restart: always
#     ports:
#       - "27017:27017"
#     volumes:
#       - mongo_data:/data/db

#   backend:
#     build: ./server
#     container_name: backend
#     restart: always
#     env_file:
#       - ./server/.env
#     ports:
#       - "5000:5000"
#     depends_on:
#       - mongo

#   frontend:
#     build: ./client
#     container_name: frontend
#     restart: always
#     ports:
#       - "5173:5173"
#     depends_on:
#       - backend

# volumes:
#   mongo_data:

services:
  mongo:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"

    volumes:
      - mongo_data:/data/db

  backend:
    build: ./server
    container_name: backend
    restart: always
    ports:
      - "5000:5000"

    env_file:
      - ./server/.env

    depends_on:
      - mongo

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: http://32.192.26.160:5000/api

    container_name: frontend
    restart: always
    
    ports:
      - "5173:5173"

    depends_on:
      - backend

volumes:
  mongo_data: